.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }
  .completed {
    margin-left: auto;
    margin-right: 12px;
  }
  .actions {
    padding: 0 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
